.flex-container {
    width: 90%;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

.flex-item {
    width: 150px;
    height: 150px;
    margin: 15px;
}


.flex-item:hover{
    cursor: pointer;
}

.circle {
    background-color: red;
    border-radius: 50%;
}

.square {
    background-color: blue;
}

.diamond {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: green;
}
